*.o
build
bin
pkg
*.tar.gz
*.rpm
*.deb
*.bz2
*.gz
src/github.com/alecthomas/gozmq
vendor/jemalloc/*/
vendor/libuuid/*/
vendor/lz4/lz4-r74/
vendor/openssl/*/
vendor/zeromq/*/
vendor/libsodium/*/
vendor/zlib/*/
nacl.public
nacl.secret
.lumberjack
.lumberjack.new
.rbx
lumberjack
logstash-forwarder
*.DS_Store
*.idea
*.iml
