{
  "network": {
    "servers": [ "localhost:5043" ],
    "ssl certificate": "./lumberjack.crt",
    "ssl key": "./lumberjack.key",
    "ssl ca": "./lumberjack_ca.crt"
  },
  "files": [
    {
      "paths": [ 
        "/var/log/*.log",
        "/var/log/messages"
      ],
      "exclude_paths": [
        "/var/log/*.gz",
        "/var/log/*.[0-9]"
      ],
      "fields": { "type": "syslog" }
    }, {
      "paths": [ "/var/log/apache2/access.log" ],
      "fields": { "type": "apache" }
    }
  ]
}
